* {
box-sizing: border-box;
}

body {
    /* display: flex; */
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 200px;
    background-color: #1f2937;
    align-items: center;
}

.logo {
color: #f9faf8;
font-size: 24px;
font-weight: bold;
}

.header-links ul{
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    gap: 20px;
    color: #f9faf8;
    
}