* {
box-sizing: border-box;
}

body {
    /* display: flex; */
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 200px; /* Try to set the side padding of 200 in body later */
    background-color: #1f2937;
    align-items: center;
}

.logo {
color: #f9faf8;
font-size: 24px;
font-weight: bold;
}

.header-links ul, a{
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    text-decoration: none;
    gap: 20px;
    color: #e5e7eb;
}

.hero {
    display: flex;
    padding: 60px 200px 100px;
    background-color: #1f2937;
    justify-content: space-between;
    align-items: center;
    gap: 500px;
}

.hero-h1 h1 {
    font-size: 48px;
    font-weight: bold; 
    margin: 0;
    color: #f9faf8;
}

.hero-p {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-img img {
    display: flex;
    width: 600px;
    height: 300px;
}

.hero-button {
    color: #f9faf8;
    background-color: #3882f6;
    border: 0;
    padding: 8px 25px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

.hero-button:active {
    background-color: #f9faf8;
    color: #3882f6;
}

.main img{
    width: 200px;
    height: 200px;
    border: 5px solid #3882f6;
    border-radius: 15px;
}

.main-h2 {
    text-align: center;
    padding: 50px 0 50px 0;
    margin: 0;
    font-size: 36px;
    font-weight: bold;
    color: #1f2937;
}

.main {
    padding: 0px 200px 100px;
    display: flex;
    justify-content: center;
    gap: 150px;
}

.item-1, .item-2, .item-3, .item-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 200px;
    text-align: center;
}

.quote-section {
    padding: 200px 0;
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote {
    font-size: 32px;
    font-style: italic;
    color: #1f2937;
    width: 800px;
    margin: 0;
}

.quote-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.author {
    align-self: flex-end;
    font-weight: bold;
}

.CTA-section {
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 100px;
}

.CTA-container {
    background-color: #3882f6;
    display: flex;
    align-items: center;
    flex-basis: 1000px;
    justify-content: space-evenly;
    height: 150px;
    border-radius: 15px;
}

.CTA-text p:first-child {
    font-weight: bold;
}

.CTA-text p {
    margin: 0;
    color: #f9faf8;
}

.CTA-container button {
    border: 1px solid #f9faf8;
}